
<div class="container">
  <h1>DATA ADJUSTMENT TOOL</h1>
  <form action="">
    <label for="change-input">CSV update</label>
    <input id ="change-input" type="file" id="change-input" (change)="FileSelect($event)">
    <br>
    <button id="update" type="button" id="update" (click)="onClick()">
      Update
    </button>
    <button id="download" type="button" id="download" (click)="Download()">
      Download
    </button>
    <button id="Reset" type="reset" id="reset">
      Reset
    </button>
  </form>
</div>